<div class="x_title">
  <h2>Users <a href="users/create" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> Create New </a></h2>
  <div class="clearfix"></div>
</div>
<div class="mainContainer" ng-controller="UserListController">
  <div id="nonscrollablearea" *ngIf="users?.Datas">
    <div class="table-responsive" id="tableHeader" ng-class="{'hidden_pager':hidden_pager}">
      <table ng-table="dataTable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="mydatatable_info">
        <thead>
          <tr role="row">
            <th class="sorting" tabindex="0" rowspan="1" colspan="1" ng-click="sortBy('id')">ID</th>
            <th class="sorting" tabindex="0" rowspan="1" colspan="1" ng-click="sortBy('name')">Name</th>
            <th tabindex="0" rowspan="1" colspan="1">Email</th>
            <th tabindex="0" rowspan="1" colspan="1">Role</th>
            <th tabindex="0" rowspan="1" colspan="1">Avatar</th>
            <th tabindex="0" rowspan="1" colspan="1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of users.Datas" class="cursor" ng-class="{'selectedRow':selectedRow==$index}"
            ng-click="selectRow($index)" id="row-id-@{{x.id}}">
            <td class="alignCenter" data-title="'id'" sortable="'id'">{{x.id}}</td>
            <td class="alignCenter">
              {{x.name}}
            </td>
            <td>
              {{x.email}}
            </td>
            <td>
              {{x.role_display_name}}
            </td>
            <td style="text-align: center">
              <img [src]='x.avatar && "x.avatar" || "assets/uploads/users/no-image-icon-md.png"' alt="{{x.name}}" style="width: 100px"
              />
            </td>
            <td class="alignCenter">
              <a href="users/@{{x.id}}/edit" class="btn btn-info btn-xs">
		                        	<i class="fa fa-pencil" title="Edit"></i>
		                        </a>
              <a ng-click="deleteRow(x.id)" class="btn btn-danger btn-xs">
		                        	<i class="fa fa-trash-o" title="Delete"></i>
	                        	</a>
            </td>
          </tr>
          <tr *ngIf="users.Datas?.length === 0">
            <td colspan="16">{{msg.NO_ROW}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr role="row">
            <th class="sorting" tabindex="0" rowspan="1" colspan="1" ng-click="sortBy('id')">ID</th>
            <th class="sorting" tabindex="0" rowspan="1" colspan="1" ng-click="sortBy('name')">Name</th>
            <th tabindex="0" rowspan="1" colspan="1">Email</th>
            <th tabindex="0" rowspan="1" colspan="1">Role</th>
            <th tabindex="0" rowspan="1" colspan="1">Avatar</th>
            <th tabindex="0" rowspan="1" colspan="1">Action</th>
          </tr>
        </tfoot>
      </table>
      <script type="text/javascript">
        setTimeout(
          function () {
            if ($(window).width() <= 767) {
              setWidthPager();
            }
          },
          5000);
      </script>
    </div>
  </div>
</div>