@charset "utf-8";

/* =========================================================
	1.article
========================================================= */

.articleShare .twShare span,
.articleShare .fbShare span {
	background: url(../img/parts.png) no-repeat;
}

.articleShare .twShare span em,
.articleShare .fbShare span em{
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.articleShare .lineShare {
	display: none;
}

.articleMainPhoto {
	margin-bottom: 25px;
}

.articleMainPhoto-sp {
	display: none;
}

.mainTitle {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5;
}

.mainTitle,
.date {
	padding: 0 30px 15px;
}

.date span {
	padding: 0 10px;
	color: #cccccc;
}

#main,
.articleCuratorCover,
.introduceShop,
.articleShare {
	border-bottom: 1px solid #e6e6e6;
}

.articleCurator {
	background: url(../img/arrow01.png) right center no-repeat;
	width:449px;
	float:left;
	border-right: 1px solid #e6e6e6;
}

.articleCurator a {
	display: block;
	padding: 20px 30px 0 30px;
	height:110px;
}

.articleCurator a:hover {
	-moz-box-shadow: 1px 1px 5px 0 #ccc;
	-webkit-box-shadow: 1px 1px 5px 0 #ccc;
	box-shadow: 1px 1px 5px 0 #ccc;
}

.articleShare {
	padding: 40px 30px;
}
.articleTxt{
	padding: 40px 30px 0 30px;
}
.article{
	padding-bottom:20px;
}

.articleCurator .curatorL {
	padding: 0 10px 0 0;
}

.articleCurator .curatorL img {
	width: 76px;
	height: 76px;
}

.articleCurator .curatorName .name {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}

.articleCurator .curatorName .catch {
	color: #666;
	font-size: 14px;
	padding-bottom: 6px;
	width:300px;
}

.article p {
	font-size: 14px;
	line-height: 1.8;
	padding-bottom: 20px;
}

.article p a {
	text-decoration:underline;
	color: #38a1db;
}

.articleCuratorCover {
	border-bottom: 1px solid #e6e6e6;
}

.articleCuratorCover .pc {
	display: block;
}

.articleCuratorCover .sp {
	display: none;
}

.curatorFollowBtn {
	display: block;
	width: 189px;
	float: right;
	background: url(../img/icon03.png) center 21px no-repeat;
	padding:72px 0 0 0;
	text-align:center;
	height:58px;
}
.curatorFollowBtn:hover {
	-moz-box-shadow: 1px 1px 5px 0 #ccc;
	-webkit-box-shadow: 1px 1px 5px 0 #ccc;
	box-shadow: 1px 1px 5px 0 #ccc;
}

.introduceShop {
	padding: 40px 30px 0;
}

.introduceShopLink {
	padding-bottom: 35px;
}

.introduceShop h1,
.articleShare p,
#curatorNewArrival h1 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 30px;
}

.introduceShopLink a {
	background: url(../img/arrow02.png) 540px center no-repeat #ec6d71;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 5px 0 0 #ba5659;
	-webkit-box-shadow: 0 5px 0 0 #ba5659;
	box-shadow: 0 5px 0 0 #ba5659;
	color: #fff;
	display: block;
	font-weight: bold;
	padding: 20px 0;
	width: 580px;
}

.introduceShopLink dl {
	background: url(../img/introduce_shop_link.png) 30px center no-repeat;
	padding-left: 100px;
	width: 420px;
}

.introduceShopLink dt {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
}

.introduceShopLink .cat {
	border: 1px solid #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
	margin-right: 15px;
	padding: 0 10px;
}

.articleCategory {
	padding-bottom: 40px;
}

.articleCategory.matome {
	padding: 30px 30px 40px;
	border-bottom: 1px solid #e6e6e6;
}

.articleCategory dt {
	margin-bottom: 25px;
	font-size: 18px;
	font-weight: bold;
}

.articleCategory a {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px 5px 3px 25px;
	width: auto;
}

*:first-child+html .articleCategory a {
	display: inline;
	zoom: 1;
}

* html .articleCategory a {
	display: inline;
	zoom: 1;
}

.articleShare li {
	float: left;
}

.articleShare .twShare a,
.articleShare .fbShare a,
.articleShare .lineShare a {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	display: block;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
	width: 280px;
}

.articleShare .twShare a {
	background-color: #31a7e0;
	-moz-box-shadow: 0 3px 0 0 #2680ad;
	-webkit-box-shadow: 0 3px 0 0 #2680ad;
	box-shadow: 0 3px 0 0 #2680ad;
	margin-left: 20px;
}

.articleShare .fbShare a {
	background-color: #3c5a98;
	-moz-box-shadow: 0 3px 0 0 #283d66;
	-webkit-box-shadow: 0 3px 0 0 #283d66;
	box-shadow: 0 3px 0 0 #283d66;
}

.articleShare .twShare span {
	background-position: -430px -241px;
	height: 26px;
	padding-left: 50px;
}

.articleShare .fbShare span {
	background-position: -441px -279px;
	height: 26px;
	padding-left: 30px;
}

#curatorNewArrival h1 {
	margin-bottom: 0;
}

#curatorNewArrival h1 {
	float: left;
	padding: 30px;
	width: 360px;
}

.curatorProfile a {
	background: url(../img/arrow01.png) right center no-repeat;
	float: left;
	padding: 30px 25px 30px 0;
	width: 195px;
}

.curatorProfile p {
	padding-right: 10px;
	text-align: right;
	line-height: 25px;
}

.curatorProfile p img {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin-right: 20px;
	vertical-align: middle;
	width: 50px;
}

.curatorProfile span {
	display: table-cell;
	vertical-align: middle;
}

* html .curatorProfile span {
	display: inline;
	zoom: 1;
}

* html .curatorProfile span.name {
	width: 125px;
}

*:first-child+html .curatorProfile span {
	display: inline;
	zoom: 1;
}

*:first-child+html .curatorProfile span.name {
	width: 125px;
}

.curatorProfile-sp {
	display: none;
}

.newArrivalList li .sns li {
	float: none;
	font-size: 12px;
	width: auto;
}

/* matome */
.articleMatome {
	border-bottom: 1px solid #e5e5e5;
	padding: 30px 40px;
}

.articleMatome {
	font-size: 14px;
	line-height: 1.8;
}

.articleMatome.follow {
	border-bottom: none;
	padding-bottom:0;
}

.articleMatomeShop {
	border-bottom: 1px solid #e5e5e5;
	font-size: 14px;
	line-height: 1.8;
	padding: 55px 30px 30px;
}

.article .title,
.articleTxt .title,
.articleMatomeShop .title {
	font-size:21px;
	font-weight: bold;
	padding-bottom: 40px;
}

.articleMatomeShop img {
	padding-bottom: 30px;
}

/* index */
#articleIndex #main {
	border-bottom: none;
}

#articleIndex .newArrivalList {
	border-top: 1px solid #e5e5e5;
	margin-bottom: 50px;
}

#articleIndex .newArrivalList li {
	border-bottom: 1px solid #e5e5e5;
	float: none;
	padding-bottom: 0;
	width:640px;
}

#articleIndex .newArrivalList li a {
	background:url(../img/arrow01.png) right center no-repeat;
	display: block;
	position: relative;
}

#articleIndex .newArrivalList li .photo,
#articleIndex .newArrivalList li .txt {
	float: left;
}

#articleIndex .newArrivalList li .photo {
	padding-bottom: 0;
}

#articleIndex .newArrivalList li .txt {
	padding: 15px 30px;
	width:367px;
}

#articleIndex .newArrivalList dl {
	height: auto;
	padding: 0;
}

#articleIndex .newArrivalList li .txt dt {
	font-size:18px;
	padding-bottom: 10px;
}

#articleIndex .newArrivalList li .txt dd {
	line-height: 1.2;
}

#articleIndex .articleIndexCurator {
	float: left;
	width: 167px;
}

#articleIndex .articleIndexCurator .curatorS {
	padding-left:0;
}

#articleIndex .articleIndexCurator .curatorName {
	background: none;
}

#articleIndex .newArrivalList .mainArea {
	background:url(../img/icon40.png) 0 center no-repeat;
	width: 168px;
	height: 33px;
	padding-left:20px;
	display: table-cell;
	vertical-align: middle;
}

#articleIndex .newArrivalList .sns {
	background:#fafafa;
	position: absolute;
	bottom: 0;
	left:213px;
	padding: 10px 0 10px 30px;
	width:396px;
	margin: 0 !important;

}

#articleIndex .newArrivalList .sns li {
	border-bottom: none;
	margin-right: 20px;
}

#articleIndex .newArrivalList .sns .hb {
	margin-right:0;
}

/* popularArticle */
#articleIndex .popularArticle {
	border-top: 1px solid #e5e5e5;
}

#articleIndex .popularArticle .newArrivalList {
	margin-bottom: 0;
	border-top: none;
}

#articleIndex .popularArticle .newArrivalList li {
	border-bottom: none;
}

#articleIndex .popularArticle .newArrivalList li a {
	width: 580px;
	padding: 30px;
}

#articleIndex .popularArticle .popularArticleTitle {
	padding-bottom: 15px;
	font-size: 14px;
}

#articleIndex .popularArticle .newArrivalList li .photo {
	width: 100px;
	height:75px;
}

#articleIndex .popularArticle .newArrivalList li .photo img {
	width: 100%;
	height:100%;
}

#articleIndex .popularArticle .newArrivalList li .txt {
	padding: 0 0 0 15px;
	width:455px;
}


#articleIndex .popularArticle .newArrivalList li .txt dt {
	font-size:16px;
	font-weight: bold;
	padding-bottom: 5px;
}

#articleIndex .popularArticle .articleIndexCurator {
	width:455px;
	padding-bottom: 15px;
}

#articleIndex .popularArticle .newArrivalList .sns {
	display: none;
}

#articleIndex .popularArticle .newArrivalList .txt .sns {
	position: static;
	display: block;
	padding: 0;
	background-color:#fff;
}

.readSequel{
	position:relative;
}
.readSequel .bgimgSp{
	display:none;
}
.readSequel .readSequelBox{
	position:absolute;
	top:72px;
	left:50%;
	border:1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.80);
	padding: 28px 10px 30px 10px;
	text-align: center;
	width: 438px;
	margin-left:-219px;
}
.readSequel .readSequelBox .txt{
	font-weight: bold;
}
.readSequel .readSequelBox .txt br:first-child {
	display:none;
}
.readSequel .readSequelBox .btn a {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	display: block;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
	width: 300px;
	background-color: #31a7e0;
	-moz-box-shadow: 0 3px 0 0 #2680ad;
	-webkit-box-shadow: 0 3px 0 0 #2680ad;
	box-shadow: 0 3px 0 0 #2680ad;
	margin:28px auto 0 auto;
	text-decoration: none;
}
.readSequel .readSequelBox .btn span {
	background: url(../img/parts.png) -430px -241px no-repeat;
	height: 26px;
	padding-left: 50px;
}


/*   clear-fix   */
.articleCuratorCover:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
	}
.articleCuratorCover {
	zoom: 1;
	}

/* curatorDetail */
#curatorDetail {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 40px;
}


#curatorDetail h1 {
	padding: 40px 30px 20px;
	font-size: 18px;
	font-weight: bold;
}

#curatorDetailText a {
	background: url("../img/arrow01.png") right center no-repeat;
	display: block;
	padding: 0 30px;
}

#curatorDetailText .boxImg {
	width: 50px;
	height: 50px;
	float:left;
	margin-right: 20px;
}

#curatorDetailText .boxImg img {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	width: 50px;
}

#curatorDetailText .arrow {
	float: left;
	line-height: 1.4;
	width: 510px;
}

#toCuratorBlog {
	padding: 15px 30px 0;
}

#toCuratorBlog a {
	background:#eee;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 3px 0 0 #ccc;
	-webkit-box-shadow: 0 3px 0 0 #ccc;
	box-shadow: 0 3px 0 0 #ccc;
	display: block;
	text-align: center;
	padding: 15px 5px 13px 30px;
}

#toCuratorBlog a span {
	background:url(../img/icon19_s.png) 0 center no-repeat #eee;
	font-size: 19px;
	font-weight: bold;
	padding-left: 30px;
	line-height: 24px;

}
/* tag */
#tagRead {
	padding: 0 30px 30px;
	font-size: 12px;
}

/* relatedArticle */
#relatedArticle h1,
#relatedCategory h1 {
	border-bottom: 1px solid #e6e6e6;
	padding: 20px 30px;
	font-size: 18px;
	font-weight: bold;
}

#relatedArticle li {
	border-bottom: 1px solid #e6e6e6;
}

#relatedArticle li a {
	display: block;
	background:url(../img/arrow01.png) right center no-repeat;
	padding: 10px 20px 10px 30px;
}

#relatedArticle .photo,
#relatedArticle .title {
	float: left;

}

#relatedArticle .photo {
	width: 100px;
}

#relatedArticle .title {
	line-height: 75px;
	padding-left: 20px;
}

#relatedCategory h1 {
	padding-top: 35px;
}

.relatedCategoryArea {
	background:url(../img/center_bg.png) center 0 repeat-y;
	width: 100%;
}

#relatedCategory li {
	background:url(../img/arrow01.png) right center no-repeat;
	float: left;
	border-bottom:1px solid #e6e6e6;
	width: 50%;
}

#relatedCategory li.w {
	background-color:#fff;
	width: 639px;
}

#relatedCategory li a {
	padding: 20px 20px 20px 30px;
	display: block;
}

#toCategoryList {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.toCategoryList {
	border-bottom: 1px solid #e6e6e6;
}

#toCategoryList a,
.toCategoryList a {
	background:url(../img/arrow05.png) 0 center no-repeat;
	display: block;
	line-height: 58px;
	padding-left: 25px;
}

/*#relatedTagArea-sp {
	display: none;
}*/

.relatedTagArea {
	border-top: 1px solid #e6e6e6;
	padding: 30px 30px 0;
}

.relatedTagArea p {
	padding-bottom: 20px;
	font-size: 14px;
}

.relatedTag {
	padding-bottom: 27px;
}

.relatedTag-sp {
	display: none;

}

.relatedTag ul {
	display: block;
}

.relatedTag li {
	float: left;
	margin-right: 10px;
	margin-bottom: 13px;
}

.relatedTag li a {
	background:url(../img/icon34.png) 10px center no-repeat #eee;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 3px 0 0 #ccc;
	-webkit-box-shadow: 0 3px 0 0 #ccc;
	box-shadow: 0 3px 0 0 #ccc;
	display: block;
	font-size: 11px;
	padding: 6px 10px 6px 25px;
}

#noArticle {
	border-top: 1px solid #e6e6e6;
	text-align: center;
	padding: 30px;
	font-size: 18px;
}

#systemError {
	padding: 10px 30px 50px;
}

.seMainTxt {
	background:url(../img/cat_icon.png) center bottom no-repeat;
	padding-bottom: 120px;
	position: relative;
	width: 580px;
	margin: 0 auto;
}

.seMainTxt .inner {
	background-color: #eee;
	font-size: 18px;
	text-align: center;
	padding: 20px;
	width: 540px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.seMainTxt .arrow {
	border-bottom: 20px solid transparent;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #eee;
	display: block;
	height: 0;
	left: 270px;
	position: absolute;
	bottom: 80px;
	width: 0;
}

#recruitForm {
	margin-top: 90px;
	padding-bottom: 40px;
}

#paging {
	margin-bottom: 60px;
}

#fbFollowMecicolle {
	display: none;
}

/* add 20151009 */
.more_read,
.footerRelatedArticle {
	display:none;
}

.article section,
#js-articleShare {
	display:block;
}

/* category top */
.articleSns-pc.category-sns li.tw {
	width:73px;
}

.articleSns-pc.category-sns li.line {
	display: none;
}

.category-read {
	padding: 0 30px 20px;
	font-size: 12px;
}

.category-top-box {
	padding: 30px;
	border-top: 2px solid #f39800;
}

.category-top-subbox {
	padding: 30px 30px 20px;
	border-top: 1px dashed #e5e5e5;
}

.category-top-box-title-l {
	font-size: 20px;
	margin-bottom: 13px;
	font-weight: bold;
}

.category-top-box-title-s {
	font-size: 20px;
	margin-bottom: 8px;
	font-weight: bold;
}

.category-top-box-title-icon {
	background:url(../img/icon53.png) 0 center no-repeat;
	padding-left: 30px;
	font-size: 20px;
	margin-bottom: 12px;
	font-weight: bold;
}

.category-top-box p,
.category-top-subbox p {
	line-height:1.6;
	font-size: 12px;
}

.category-top-subbox p {
	font-size: 14px;
}

.category-top-subbox .info .txt {
	float: right;
	width: 460px;
	font-size: 14px;
	line-height:1.4;
}

.category-top-subbox .info .photo {
	float: left;
	width: 120px;
}

.category-top-subbox-bottom {
	padding: 0 30px 15px;
	font-size:14px;

}

#articleIndex .newArrivalList.category-top {
	margin-bottom:0;
}

.category-top-list.mb30 {
	margin-bottom: 30px;
}

.category-top-list li {
	float: left;
	width: 213px;
}

.category-top-list > li:hover {
	-moz-box-shadow: 1px 1px 5px 0 #ccc;
	-webkit-box-shadow: 1px 1px 5px 0 #ccc;
	box-shadow: 1px 1px 5px 0 #ccc;
}

#articleIndex .newArrivalList.category-top li a {
	position:relative;
	overflow: visible;
}

.category-top-list .photo {
	padding-bottom: 13px;
}

.category-top-list .txt {
	height: 60px;
	padding: 0 10px 5px;
	font-size: 14px;
	font-weight: bold;
}

.recipe-article .category-top-list .txt {
	height: 80px;
}

.more-list {
	text-align:right;
	margin-bottom:30px;
	margin-top:20px;
	padding-right:20px;
}

.more-list a {
	text-decoration:underline;
	color:#37a2dc;
}

.category-top-rank {
	position:absolute;
	top:-4px;
	left:10px;
}

.note-text {
  font-size: 13px;
  font-weight: normal;
  text-align: left;
  padding: 30px;
  border-bottom: 1px solid #e6e6e6;
}

/* 記事画像 詳細画面（spのみ）へのリンクで反応させない */
.article .articlePhoto a {
	cursor: default;
}
/*------------メシコレ新規コンテンツ化案件マークアップ対応 20160809 追加 START------------*/
.shopList .category-top-list .txt {
    height: 105px;
}

.shopList .category-top-list li:nth-child(4) {
    display: none;
}

.shopList.shop-favorite li:nth-child(4) {
    display: block;
}

.shopList .category-top-list .photo {
    padding-bottom: 0;
    margin-bottom: 13px;
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.maps-shops .category-top-box-title-icon {
    background: url(../img/icon54.png) no-repeat 0 3px/15px;
}

.product-favorite .category-top-box-title-icon {
    background: url(../img/ic-tag-yell.png) no-repeat 0 6px;
}

.maxText {
    overflow: hidden;
    height: 40px;
    display: block;
}
/*------------メシコレ新規コンテンツ化案件マークアップ対応 20160809 追加 END------------*/