.green-color {
	color: #008000;
}
.red-color {
	color: #d6031e;
}
.text-align {
	text-align: center;
}
.team_name {
    color: rgb(221, 57, 57);
    font-style: italic;
}

table.dataTable th {
    outline: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: none;
}
table.dataTable thead tr th {
	padding-right: 8px; 
}
table.dataTable thead tr th.sorting {
    padding-right: 30px;
    cursor: pointer;
    position: relative;
}

table.dataTable tfoot tr th.sorting {
    padding-right: 30px;
    cursor: pointer;
    position: relative;
}
table.dataTable tfoot .sorting:after {
    opacity: 0.2;
    content: "\e150";
    position: absolute;
    top: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
}
.hidden_pager .ng-table-pager{
    display: none;
}
.w30-per {
    width: 30%;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.7;
}
